.header-container {
    display: flex;
    margin: auto;
    position: fixed;
    padding: 20px 0px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: all 200ms ease;
    z-index: 10;
    backdrop-filter: blur(10px);
}
.header-container.dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}
.header-container.light {
    background-color: #e4dccfbb;
    color: black;
}

.navbar-heading-text {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    transition: all 200ms ease;
}
.navbar-heading-text.dark {
    color: white;
}
.navbar-heading-text.light {
    color: black;
}

.navbar-button {
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    transition: all 200ms ease;
}
.navbar-button-secondary {
    cursor: pointer;
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all 100ms ease;
}
.navbar-button.dark,
.navbar-button-secondary.dark {
    color: white;
}
.navbar-button.dark:hover,
.navbar-button-secondary.dark:hover {
    background-color: #55380b;
}
.navbar-button.light,
.navbar-button-secondary.light {
    color: black;
}
.navbar-button.light:hover,
.navbar-button-secondary.light:hover {
    background-color: #1e212d;
    color: white;
}

.icon-color {
    color: #1e212d;
}
