.auth-page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
}

.auth-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 40px;
    margin: auto;
    padding: 50px 100px;
    margin-top: 10%;
    border-radius: 5px;
    transition: all 200ms ease;
}
.auth-details-container.dark {
    background-color: rgba(30, 30, 30, 1);
    border-bottom: 2px solid rgba(230, 230, 230, 0.5);
}
.auth-details-container.light {
    background-color: rgb(230, 227, 224);
    border-bottom: 2px solid rgba(50, 50, 50, 0.5);
}

.auth-details-title {
    position: relative;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    cursor: default;
    transition: all 200ms ease;
    z-index: 2;
}
.auth-details-title.dark {
    color: white;
}
.auth-details-title.white {
    color: black;
}

.auth-details-input {
    position: relative;
    cursor: text;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 2;
    transition: all 200ms ease;
}
.auth-details-input.dark::placeholder {
    color: rgba(230, 230, 230, 0.5);
}
.auth-details-input:focus {
    border-radius: 5px;
    outline: none;
}
.auth-details-input.dark,
.auth-details-input.dark:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0px 10px solid white;
}
.auth-details-input.light {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.auth-details-button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 16px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    transition: all 100ms ease-out;
}
.auth-details-button.dark {
    border: 2px solid #55380b;
    background-color: rgba(81, 0, 90, 0);
    color: white;
}
.auth-details-button.dark:hover {
    transform: scale(1.05);
    color: white;
    background-color: #55380b;
    border: 2px solid #55380b;
}
.auth-details-button.light {
    border: 2px solid #a3320b;
}
.auth-details-button.light:hover {
    transform: scale(1.05);
    color: white;
    background-color: #a3320b;
}

.response-text {
    font-size: 20px;
}
