body {
    background-color: rgb(20, 20, 20);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    display: grid;
    justify-items: center;
    color: white;
    align-items: center;
    margin-top: 300px;
    font-size: 70px;
}
